:root{
  --color-1: black;
  --color-2: lightblue;
  --color-3: aliceblue;
}
body{
  font-family: cursive;
}
div{
  border: 5px solid var(--color-2);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: auto;
}
.button-edit{
  padding: 10px 15px;
  margin: 15px;
  font-size: 2rem;
  border: none;
  background-color: var(--color-1);
  color: var(--color-3);
  border-radius: 10px;
  cursor: pointer;
}
p{
  font-size: 4.5rem;
}